#general_bg_h1{
    font-family: Ubuntu;   
    font-weight: bold;
    color: #E5e5e5;
    }
    
    #general_bg_p{
        font-family: Open Sans;
        font-size:large;
        color: #E5e5e5;
       
    }

    
    