.form-bg {
  background-color: #e5e5e5;
}

.stepLabelActive {
  width: 2.5rem;
  height: 2.5rem;
  color: #e5e5e5;
  background-color: #f88500;
  font-family: Ubuntu;
  font-size: larger;
}


.stepLabelActive:hover, .stepLabelActive:focus{
  background-color:#ffb703;
}

.form-check-input:focus{
  border-color: #ffb703;
    box-shadow: 0 0 0 0.25rem rgba(255, 184, 3, 0.253);
}

.form-check-input:checked{
  background-color: #ffb703;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(255, 184, 3, 0.253);
}

.form-select:focus{
  border-color: #ffb703;
  box-shadow: 0 0 0 0.25rem rgba(255, 184, 3, 0.253);
}