.footer {
  background-color: #e5e5e5;
}

.footer p {
  font-family: "Open Sans", sans-serif;
  color: #010b13;
  font-size: medium;
}

.nav-link {
  font-family: "Open Sans", sans-serif !important;
  color: #010b13 !important;
}
