.bg-image{
    height: 500px;
    padding-top:10%;
   

}

h1, p{
    color: #E5e5e5;
    
}
h1{
font-family: Ubuntu;   
font-weight: bold;

}

p{
    font-family: Open Sans;
    font-size:large;
   
}