#bg-image {
  height: 500px;
  padding-top: 12%;
}

#upper_banner_h1 {
  font-family: Ubuntu;
  font-weight: bold;
  color: #e5e5e5;
}

#upper_banner_p {
  font-family: Open Sans;
  font-size: large;
  color: #e5e5e5;
}
